.header,
.footer {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 50px;
  flex: 0 0 auto;
}
.header {
  max-width: calc(100dvw - 100px);
  padding: 25px 50px;
  overflow: auto hidden;
  transition: 0.25s padding, 0.25s gap;
}
.footer {
  max-width: 100dvw;
  padding: 25px 0px;
  overflow: hidden;
}
.headerLink {
  display: inline-flex;
  font-family: var(--font-plex-serif), sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.25s;
}
.headerLinkActive {
  font-weight: 500;
}
.headerLinkActive,
.headerLink:hover {
  opacity: 0.8;
}
.headerLink::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 500;

  @media speech {
    display: none;
  }
}
.footer img {
  filter: invert();
  opacity: calc(var(--opacity) * 0.6);
}
.footerLink {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: -10px;
  transition: opacity 0.25s;
  align-items: center;
  justify-content: center;
}
.footerLink:hover {
  opacity: 0.8;
}

/* Typeable styles: */
.textType {
  height: 16pt;
  color: rgba(255, 255, 255, var(--opacity));
  font-family: var(--font-jetbrains), sans-serif;
  font-weight: 800;
  font-size: 16pt;
  line-height: 16pt;
  opacity: 0.6;
}
.textType.alignLeft {
  text-align: left;
}
.textType.alignRight {
  text-align: right;
}

/* LargeText styles: */
.textLargeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textLarge {
  color: rgba(255, 255, 255, var(--opacity));
  font-family: var(--font-jetbrains), sans-serif;
  font-weight: 800;
  margin: 50px 0px;
  opacity: 0.8;
}
.textLargeFull {
  display: block;
  font-size: calc(20px + 5dvw);
  letter-spacing: calc(20px + 5dvw);
  /* Compensate for letter-spacing on the last character: */
  margin-right: calc(0px - (20px + 5dvw));
}
.textLargeSlim {
  display: none;
  font-size: 12dvw;
  letter-spacing: 8dvw;
  /* Compensate for letter-spacing on the last character: */
  margin-right: -8dvw;
}
.textLargeNoSpacing {
  letter-spacing: normal;
  margin: 0px;
}
.textLargeSpacer {
  height: 16pt;
}

/* SLIM */
@media only screen and (max-width: 800px) {
  .textLargeFull {
    display: none;
  }
  .textLargeSlim {
    display: block;
  }
  .header {
    max-width: calc(100dvw - 80px);
    padding: 20px 40px;
    gap: 25px;
  }
}

/* TINY (width) */
@media only screen and (max-width: 400px) {
  .footer {
    gap: 12.5dvw;
  }
  .textLargeSpacer {
    height: 5dvw;
  }
  .textType {
    height: 5dvw;
    font-size: 5dvw;
    line-height: 5dvw;
  }
}
