body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  font-size: 16pt;
}

.background {
  position: absolute;
  inset: 0px;
}
.background div {
  position: absolute;
  inset: 0px;
}
.backgroundBase {
  background-color: #000;
}
.backgroundImage {
  background: url("/assets/background.jpg") fixed no-repeat center / cover;
  filter: blur(5px);
}
.backgroundTint {
  background-color: #000;
  opacity: 0.5;
}
.backgroundInsetShadow {
  /*                        blur spread */
  box-shadow: inset 0px 0px 20px 10px #000;
}
.backgroundGrain {
  background: url("/assets/noise.png") fixed repeat center;
  opacity: 0.08;
}

.layout {
  display: flex;
  position: relative;
  inset: 0px;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

/* [TODO] Remove once all pages are complete: */
.placeholder {
  color: #fff;
  font-family: var(--font-jetbrains), sans-serif;
  font-weight: 800;
  font-size: 8dvw;
  padding: 0px 10dvw;
  opacity: 0.8;
}

.text-large {
  color: #fff;
  font-family: var(--font-jetbrains), sans-serif;
  font-weight: 800;
  margin: 50px 0px;
  opacity: 0.8;
}
.text-large.full {
  font-size: calc(20px + 5dvw);
  letter-spacing: calc(20px + 5dvw);
  /* Compensate for letter-spacing on the last character: */
  margin-right: calc(0px - (20px + 5dvw));
}
.text-large.slim {
  font-size: 12dvw;
  letter-spacing: 8dvw;
  /* Compensate for letter-spacing on the last character: */
  margin-right: -8dvw;
}
.text-spacer {
  height: 16pt;
}

/* Device size rules: */
.full {
  display: inherit;
}
.slim {
  display: none;
}
@media only screen and (max-width: 800px) {
  .full {
    display: none;
  }
  .slim {
    display: inherit;
  }
}
